<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.2.0" targetFramework="net461" />
  <package id="Extended.Wpf.Toolkit" version="3.2.0" targetFramework="net461" />
  <package id="kenjiuno.PdfSharp.Xps" version="1.0.0" targetFramework="net461" />
  <package id="kenjiuno.PdfSharp-WPF" version="1.31.1789" targetFramework="net461" />
  <package id="NiPDF" version="1.0.0" targetFramework="net461" />
  <package id="PDFsharp" version="1.50.4740-beta5" targetFramework="net461" />
  <package id="PDFsharp-wpf" version="1.50.4740-beta5" targetFramework="net461" />
  <package id="SuperJMN.Extended.Wpf.Toolkit" version="2.6.1" targetFramework="net461" />
</packages>